export PIP_INDEX_URL="https://staging.duckietown.org/root/devel/"
export DTSERVER="https://challenges-stage.duckietown.org"
export DOCKER_REGISTRY="registry-stage2.duckietown.org"

# staging python registry
export TWINE_USERNAME=root
export TWINE_PASSWORD=paperone
export TWINE_REPOSITORY_URL=${PIP_INDEX_URL}
