ROOT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

export PIP_INDEX_URL="https://pypi.org/simple"
export DTSERVER="https://challenges.duckietown.org/v4"
export DOCKER_REGISTRY="docker.io"

# shell
export DTSHELL_LIB=${ROOT_DIR}/shell/duckietown-shell/lib
export DTSHELL_COMMANDS=${ROOT_DIR}/shell/duckietown-shell-commands
export DTSHELL_PYTHONPATH=${ROOT_DIR}/libraries/lib-dtproject/src 
