ROOT_DIR=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

export PIP_INDEX_URL="https://staging.duckietown.org/root/devel/"
export DTSERVER="https://challenges-stage.duckietown.org"
export DOCKER_REGISTRY="registry-stage2.duckietown.org"

# shell
export DTSHELL_COMMANDS=${ROOT_DIR}/shell/duckietown-shell-commands

# staging python registry
export TWINE_REPOSITORY_URL=${PIP_INDEX_URL}