challenges
containers/ducker
containers/rpi-duckiebot-calibration
containers/rpi-duckiebot-joystick-demo
containers/rpi-duckiebot-lanefollowing-demo
containers/rpi-ros-kinetic-dev
containers/rpi-ros-kinetic-roscore
containers/slimremote
docs/duckuments
src/AIDO18_baselines
src/Software
src/duckiebot-interface
src/amodeus
src/duckie-ros
src/duckietown-shell
src/duckietown-slimremote
src/duckietown-unity
src/gym-duckietown
src/map-utils
src/scripts
.diea
.idea
pri
src/shell/duckietown-shell
src/shell/duckietown-shell-commands
src/simulators/duckietown-sim-server
src/simulators/duckietown-slimremote
src/simulators/duckietown-unity
src/simulators/gym-duckietown
src/simulators/gym-duckietown-agent
src/simulators/gym-gazebo
src/simulators/simulator
src/simulators/slimremote-experimental
containers/_tosort_
ros-hack
docs/shelf-operation-manuals/docs-duckiesky_high_school/
aido/autolab_control_flask_scripts/
aido/compose-pkg-lab_controls/
attic
