challenge-aido1_test_multistep/
challenge-aido1_luck/
challenge-aido1_log_processing/
challenge-aido1_dummy_sim/
challenge-aido1_amod1
challenge-aido1_amod1-template-python
challenge-aido1_amod1-template-java
challenge-dummy-solution/
